@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body, html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}